<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>机房修改</title>
</head>
<body>
	<form action="/machine_room/modify/" method='post'>
		{% if error %}
			<span style="color:red">{{error}}</span>
		{% endif %}
		<!-- /machine_room/view/获取id，再将id通过这个表单传给/machine_room/modify/进行处理 -->
		<input type="hidden" name="id" value="{{id}}"/>   
		<label>机房名称:</label><input type="text" name="name" value="{{name}}"/>
		<label>机房地址:</label><input type="text" name="addr" value="{{addr}}"/>
		<label>IP网段:</label><input type="text" name="ip_ranges" value="{{ip_ranges}}"/>
		<input type="submit" value="修改"/>
	</form>
</body>
</html>