<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>登录</title>
	<!-- <link rel="stylesheet" type="text/css" href="/static/test.css"> -->
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	  container
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="row">
				<div class="col-md-6">

				<form class="form-inline" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail2">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
				  </div>

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">@</div>
				      <input class="form-control" type="email" placeholder="Enter email">
				    </div>

				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputPassword2" disabled="disabled">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
				  </div>
				  
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> Remember me
				    </label>
				  </div>
				  <button type="submit" class="btn btn-default">Sign in</button>
				</form>

				<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
				    <div class="col-sm-10">
				      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <div class="checkbox">
				        <label>
				          <input type="checkbox"> Remember me
				        </label>
				      </div>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-default">Sign in</button>
				    </div>
				  </div>
				</form>



				<form role="form">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputFile">File input</label>
				    <input type="file" id="exampleInputFile">
				    <p class="help-block">Example block-level help text here.</p>
				  </div>
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>

				<table class="table table-bordered table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th>姓名1</th>
								<th>姓名2</th>
								<th>姓名3</th>
								<th>姓名4</th>
								<th>姓名5</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>姓名1</td>
								<td>姓名2</td>
								<td>姓名3</td>
								<td>姓名4</td>
								<td>姓名5</td>
							</tr>
						<tbody>
							<tr>
								<td>姓名1</td>
								<td>姓名2</td>
								<td>姓名3</td>
								<td>姓名4</td>
								<td>姓名5</td>
							</tr>
						<tbody>
							<tr>
								<td>姓名1</td>
								<td>姓名2</td>
								<td>姓名3</td>
								<td>姓名4</td>
								<td>姓名5</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		  <div class="col-md-1">.col-md-1</div>
		</div>
		<div class="row">
		  <div class="col-md-8">.col-md-8</div>
		  <div class="col-md-4">.col-md-4</div>
		</div>
		<div class="row">
		  <div class="col-md-4">.col-md-4</div>
		  <div class="col-md-4">.col-md-4</div>
		  <div class="col-md-4">.col-md-4</div>
		</div>
		<div class="row">
		  <div class="col-md-6">.col-md-6</div>
		  <div class="col-md-6">.col-md-6</div>
		</div>
		<div class="room">
			<div class="col-md-offset-4 col-md-2">my div</div>
		</div>
	</div>
	<!-- span,div,p 标签 -->
	<span>span 1</span>
	<span>span 2</span>
	<div class="class1">div 1</div>
	<div id="myid">div 2</div>
	<div id="myid" class="class1 gun">div 3</div>
	<p class="class1">p 1</p>
	<p>p 2</p>
	<div class="circle"></div>
	<div class="circle"></div>
	<div class="circle"></div>
	<div class="gun"></div>

	<!-- 表单 form-->
	<form action="/login/" method="post">
		<label>用户名:</label> <input type="text" name="username" value="name"><br>
		<label>密码:</label> <input type="password" name="password" value="passwd"><br/>
		<br>

		<!-- 下拉框 -->
		<label>部门:</label>
		<select name="department">
			<option value="1">研发部门</option>
			<option value="2">测试部门</option>
			<option value="3" selected="selected">运维部门</option>
		</select>
		<br>

		<!-- 单选框 -->
		<label>性别:</label>
		<input type="radio" name="sex" value="1" checked="checkd" />男
		<input type="radio" name="sex" value="0"/>女<br>


		<!-- 复选框 -->
		<label>爱好</label>
		<input type="checkbox" name="hobby" value="football" />足球
		<input type="checkbox" name="hobby" value="basketball" />篮球
		<input type="checkbox" name="hobby" value="pingpong" checked="checked" />乒乓球
		<br>

		<label>简介</label>
		<textarea name="detail">XXXXXXXXXXX</textarea><br>

		<label>头像:</label>
		<input type="file" name="icon"><br>

		<label>主页:</label>
		<input type="url" name="homepage" value="" /><br>
		<label>生日:</label>
		<input type="date" name="birthday"value="" /><br>
		<label>email:</label>
		<input type="email" name="email" value="" /><br>

		<label>按钮:</label>
		<input type="button" value="普通按钮">
		<input type="reset" value="reset按钮">
		<br>
		<input type="submit" value="登录">
	</form>

	<img src="https://img.alicdn.com/imgextra/i1/725677994/TB23.xvbduO.eBjSZFCXXXULFXa_!!725677994.jpg" />
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
	</ul>
	<ol>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
	</ol>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</body>
</html>