	<!-- css样式 -->
	<style type="text/css">
		/*标签选择器*/
		span {
			border: 5px solid green;
		}
		p {
			border: 5px solid red
		}

		/*class选择器 以点开头，设置了class=class1的标签都应用这个css属性*/
		.class1 {
			border: 5px solid yellow;
			padding: 10px;
			margin: 15px;
			height: 50px;
			width: 100px
		}
		.circle {
			width: 50px;
			height: 50px;
			padding: 0px;
			margin: 0px;
			border: 1px solid red;
			background: red;
			border-radius: 25px;
		}
		.gun {
			background-color: black;
			width: 10px;
			height: 100px;
			margin: 0px 0px 0px 20px;
		}
		/*id选择器，以#开头,设置了id=myid的元素应用,注意id不重复*/
		#myid {
			background-color: gray;
			position: absolute;
			top: 200px;
			right: 100px	
		}
	</style>